<launch>
  <rosparam file="$(find objsearch_toplevel)/config/global_params.yaml" command="load" />
  
  <arg name="cloud" />
  <param name="/feature_extraction/input_cloud" value="$(arg cloud)" />
  <arg name="output" default="NULL"/>
  <param name="/feature_extraction/output_dir" value="$(arg output)" />

  <!-- Use this to set an offset on the index of clouds to preprocess, useful if
       something crashes in the middle of a preprocessing run on lots of files -->
  <arg name="cloud_offset" default="0"/>
  <param name="/feature_extraction/cloud_offset" value="$(arg cloud_offset)" />

  <!-- Use this when a directory is passed to cloud - the clouds which contain
       the given string will be processed -->
  <arg name="match" default="NULL"/>
  <param name="/feature_extraction/match" value="$(arg match)" />

  <!-- Defines the type of descriptor to use. Options are shot, usc, shotcolor, pfh, fpfh, pfhrgb-->
  <arg name="feature" default="SHOT"/>
  <param name="/feature_extraction/feature_type" value="$(arg feature)" />

  <!-- Defines which method is used to find the points at which descriptors will
       be computed. Options are uniform, sift, susan, iss, harris (disabled)-->
  <arg name="feature_selection" default="uniform"/>
  <param name="/feature_extraction/feature_selection" value="$(arg feature_selection)" />
  
  <!-- If the uniform feature selection method is used, the main cloud is
       downsampled using a voxel grid with the leaf size specified here. (ds in filename) -->
  <arg name="downsample_leaf_size" default="0.05"/>
  <param name="/feature_extraction/downsample_leaf_size" value="$(arg downsample_leaf_size)" />

  <!-- Options for ISS feature selection -->
  <!-- Defaults taken from
       http://docs.pointclouds.org/trunk/classpcl_1_1_i_s_s_keypoint3_d.html-->
  <!-- Multiplier for the spherical neighbourhood for scatter matrix
       computation. This value is multiplied by the resolution of the cloud (sm) -->
  <arg name="iss_salient_mult" default="6"/>
  <param name="/feature_extraction/iss_salient_mult" value="$(arg iss_salient_mult)" />
  <!-- Multiplier for the radius of the non-maximum suppression part of ISS.
       This value is multiplied by the cloud resolution (nm) -->
  <arg name="iss_nonmax_mult" default="4"/>
  <param name="/feature_extraction/iss_nonmax_mult" value="$(arg iss_nonmax_mult)" />
  <!-- Minimum number of neighbours that must be found while using non-max
       suppression (mn) -->
  <arg name="iss_min_neighbours" default="5"/>
  <param name="/feature_extraction/iss_min_neighbours" value="$(arg iss_min_neighbours)" />
  <!-- Upper bound on ratio between second and first eigenvalue (t2)-->
  <arg name="iss_thresh21" default="0.975"/>
  <param name="/feature_extraction/iss_thresh21" value="$(arg iss_thresh21)" />
  <!-- Upper bound on ration between third and second eigenvalue (t3) -->
  <arg name="iss_thresh32" default="0.975"/>
  <param name="/feature_extraction/iss_thresh32" value="$(arg iss_thresh32)" />

  <!-- Options for SUSAN feature selection -->
  <!-- Do non-max suppression or not (nm) -->
  <arg name="susan_nonmax" default="true"/>
  <param name="/feature_extraction/susan_nonmax" value="$(arg susan_nonmax)" />
  <!-- Radius for non-max suppression and normals (if not computed already) (rd) -->
  <arg name="susan_radius" default="0.05"/>
  <param name="/feature_extraction/susan_radius" value="$(arg susan_radius)" />
  <!-- Test if nucleus is far enough from the centroid (dt) -->
  <arg name="susan_dist_thresh" default="0.001"/>
  <param name="/feature_extraction/susan_dist_thresh" value="$(arg susan_dist_thresh)" />
  <!-- Test if normals are parallel (at) -->
  <arg name="susan_ang_thresh" default="0.001"/>
  <param name="/feature_extraction/susan_ang_thresh" value="$(arg susan_ang_thresh)" />
  <!-- Are points the same colour? (it) -->
  <arg name="susan_intensity_thresh" default="7"/>
  <param name="/feature_extraction/susan_intensity_thresh" value="$(arg susan_intensity_thresh)" />

  <!-- Options for harris feature selection -->
  <!-- Do non-max suppression or not (nm in output file string) -->
  <arg name="harris_nonmax" default="true"/>
  <param name="/feature_extraction/harris_nonmax" value="$(arg harris_nonmax)" />
  <!-- Radius for non-max suppression and normals (if not computed already) (rd in output file)-->
  <arg name="harris_radius" default="0.05"/>
  <param name="/feature_extraction/harris_radius" value="$(arg harris_radius)" />
  <!-- Threshold for filtering weak corners (th) -->
  <arg name="harris_thresh" default="0.001"/>
  <param name="/feature_extraction/harris_thresh" value="$(arg harris_thresh)" />
  <!-- Refine the keypoints after initial selection. Nonmax must also be enabled (rf) -->
  <arg name="harris_refine" default="true"/>
  <param name="/feature_extraction/harris_refine" value="$(arg harris_refine)" />

  <!-- Options for SIFT feature selection. -->
  <!-- Standard deviation of smallest scale in the scale space (ms) -->
  <arg name="sift_min_scale" default="0.04"/>
  <param name="/feature_extraction/sift_min_scale" value="$(arg sift_min_scale)" />
  <!-- Number of doublings of scale to compute (oc) -->
  <arg name="sift_octaves" default="4"/>
  <param name="/feature_extraction/sift_octaves" value="$(arg sift_octaves)" />
  <!-- Number of scales to compute per octave (os) -->
  <arg name="sift_octave_scales" default="5"/>
  <param name="/feature_extraction/sift_octave_scales" value="$(arg sift_octave_scales)" />
  <!-- Threshold on contrast for features. Features below this threshold will be
       ignored. (mc) -->
  <arg name="sift_min_contrast" default="0"/>
  <param name="/feature_extraction/sift_min_contrast" value="$(arg sift_min_contrast)" />
  
  
  <!-- Options for the SHOT descriptor -->
  <arg name="shot_radius" default="0.05"/>
  <param name="/feature_extraction/shot_radius" value="$(arg shot_radius)" />

  <!-- Options for the USC descriptor -->
  <!-- Radius within which the descriptors looks for neighbours -->
  <arg name="usc_radius" default="0.05"/>
  <param name="/feature_extraction/usc_radius" value="$(arg usc_radius)" />
  <!-- Radius within which points will be ignored. Stops the descriptor being
       too sensitive in regions close to the centre of the sphere-->
  <arg name="usc_minimal_radius" default="0.005"/>
  <param name="/feature_extraction/usc_minimal_radius" value="$(arg usc_minimal_radius)" />
  <!-- Radius to use to compute the local point density - number of points within this radius -->
  <arg name="usc_density_radius" default="0.01"/>
  <param name="/feature_extraction/usc_density_radius" value="$(arg usc_density_radius)" />
  <!-- Local reference frame is computed using this radius -->
  <arg name="usc_local_radius" default="0.05"/>
  <param name="/feature_extraction/usc_local_radius" value="$(arg usc_local_radius)" />

  <!-- Options for the PFH descriptor -->
  <!-- This value should be larger than the radius used to compute the normals
       for the cloud being described -->
  <arg name="fpfh_radius" default="0.05"/>
  <param name="/feature_extraction/fpfh_radius" value="$(arg fpfh_radius)" />

  <arg name="pfh_radius" default="0.05"/>
  <param name="/feature_extraction/pfh_radius" value="$(arg pfh_radius)" />
  
  <arg name="pfhrgb_radius" default="0.05"/>
  <param name="/feature_extraction/pfhrgb_radius" value="$(arg pfhrgb_radius)" />
  
  <node name="feature_extraction" pkg="feature_extraction" type="extract_features" output="screen" required="true"/>
</launch>
