<launch>
  
  <rosparam file="$(find objsearch_toplevel)/config/global_params.yaml" command="load" />
  <!-- Parameters specific to object query, used if parameters not provided at
       commandline -->
  <rosparam file="$(find object_query)/config/params.yaml" command="load" />

  <!-- Use this when a directory is passed to cloud - the clouds which contain
       the given string will be processed -->
  <arg name="match" default="NULL"/>
  <param name="/object_query/match" value="$(arg match)" />
  
  <arg name="query" />
  <param name="/object_query/query_features" value="$(arg query)" />
  <arg name="target" />
  <param name="/object_query/target_features" value="$(arg target)" />

  <arg name="output" default="NULL"/>
  <param name="/object_query/output_dir" value="$(arg output)" />
  <!-- output directory for results. the top clusters and regions, as well as
       timings and other information will be put into this location-->
  <arg name="results_out" default="NULL"/>
  <param name="/object_query/results_out" value="$(arg results_out)" />

  <arg name="K" default="-1"/>
  <param name="/object_query/K" value="$(arg K)" />

  <!-- Step to use for the hough voting process, in metres. Defines cell size
       used for the grid. -->
  <arg name="unistep" default="0.05" />
  <arg name="x_step_hough" default="$(arg unistep)"/>
  <param name="/object_query/x_step_hough" value="$(arg x_step_hough)" />
  <arg name="y_step_hough" default="$(arg unistep)"/>
  <param name="/object_query/y_step_hough" value="$(arg y_step_hough)" />
  <arg name="z_step_hough" default="$(arg unistep)"/>
  <param name="/object_query/z_step_hough" value="$(arg z_step_hough)" />
  <!-- Number of points to extract from the hough grid at the end to check
       whether they lie in regions for the correct annotation  -->
  <arg name="n_max_points" default="200"/>
  <param name="/object_query/n_max_points" value="$(arg n_max_points)" />

  <!-- Clustering. Setting these parameters to -1 will make the program define
       values automatically based on the size of the query cloud -->
  <!-- The tolerance is the minimum distance required for points to be
       considered to be in the same cluster -->
  <arg name="cluster_tolerance" default="0.2"/>
  <param name="/object_query/cluster_tolerance" value="$(arg cluster_tolerance)"/>
  <!-- Minimum number of points per cluster -->
  <arg name="cluster_minsize" default="12"/>
  <param name="/object_query/cluster_minsize" value="$(arg cluster_minsize)" />
  <arg name="cluster_maxsize" default="500"/>
  <param name="/object_query/cluster_maxsize" value="$(arg cluster_maxsize)" />

  <!-- Multiplier to use when defining the radius of the sphere used to extract
       points from the cloud being checked for matches at the cluster centres
       that were found. This is a multiplier of the largest dimension of the
       bounding box of the query cloud-->
  <arg name="extract_mult" default="1.3"/>
  <param name="/object_query/extract_mult" value="$(arg extract_mult)" />

  
  <!-- Number of directories above the input file to add to the output file's
       output directory. e.g. input is /one/two/three/four/features/feature.pcd and output
       directory is set to /output/something, and this value is set to 3, then
       the resulting output will go to /output/something/two/three/four/clusters -->
  <arg name="subdirs" default="4"/>
  <param name="/object_query/subdirs" value="$(arg subdirs)" />

  <!-- If true, output the clusters and other cloud output from this node to the
       same directory as the results-->
  <arg name="clusters_to_results" default="true"/>
  <param name="/object_query/clusters_to_results" value="$(arg clusters_to_results)" />
  
  

  <node name="object_query" pkg="object_query" type="query_object"
	output="screen" required="true" />
</launch>
