<launch>
  
  <rosparam file="$(find objsearch_toplevel)/config/global_params.yaml" command="load" />
  <!-- Parameters specific to object query, used if parameters not provided at
       commandline -->
  <rosparam file="$(find object_query)/config/params.yaml" command="load" />

  <!-- Use this when a directory is passed to cloud - the clouds which contain
       the given string will be processed -->
  <arg name="match" default="NULL"/>
  <param name="/object_query/match" value="$(arg match)" />
  
  <arg name="query" />
  <param name="/object_query/query_features" value="$(arg query)" />
  <arg name="target" />
  <param name="/object_query/target_features" value="$(arg target)" />
  
  <arg name="output" default="NULL"/>
  <param name="/object_query/output_dir" value="$(arg output)" />
  <arg name="K" default="-1"/>
  <param name="/object_query/K" value="$(arg K)" />

  <arg name="regions" default="false"/>
  <param name="/object_query/output_regions" value="$(arg regions)" />
  
  <node name="object_query" pkg="object_query" type="query_object" output="screen" />
</launch>
